# Connect to Supabase via connection pooling
DATABASE_URL=""

# Direct connection to the database. Used for migrations
DIRECT_URL=""


PORT =
SECRET_KEY = ""

CLOUDINARY_API_KEY = ""
CLOUDINARY_API_SECRET = ""
CLOUDINARY_CLOUD_NAME = ""

GMAIL_EMAIL = ""
GMAIL_APP_PASS = ""

BASE_FRONTEND_URL = ""